h1{
	margin‐left:0 auto;
	margin‐right:0 auto;
	margin:0 auto;
	width:5000%;
	height:5000%;
        color:#ffa500;
background-color:#deb887;


}


p{


	margin‐left:0 auto;
	margin‐right:0 auto;
	margin:0 auto;

	color:#4682b4;
	font-size:50%;
font-weight:bolder;
font-family:"Times New Roman";


}
